<div class="section" id="about">
    <div class="container about">
      <div class="card" data-aos="fade-up" data-aos-offset="10">
        <div class="row">
          <div class="col-lg-6 col-md-12">
            <div class="card-body">
              <div class="h4 mt-0 title">A PROPOS</div>
              <p>Bonjour, Je suis <strong>Rose Nadia Mekou</strong></p>
              <p>
Développeuse Front expérimentée et passionnée qui aspire à devenir Product Owner. Grâce à mon expérience dans la création d'expériences utilisateur innovantes et engageantes, je suis convaincue que mes compétences techniques et ma connaissance des besoins des utilisateurs font de moi un excellent candidat pour ce poste. Je suis totalement à l'aise dans un environnement Agile et je suis en mesure de travailler avec des équipes interfonctionnelles pour atteindre les objectifs du projet.
          </div>
           </div>
          <div class="col-lg-6 col-md-12">
            <div class="card-body">
              <div class="h4 mt-0 title">INFORMATIONS</div>
              <div class="row mt-3">
                <div class="col-sm-4">
                  <strong class="text-uppercase">Email:</strong>
                </div>
                <div class="col-sm-8">rosemekou.nadia@gmail.com</div>
              </div>
              <div class="row mt-3">
                <div class="col-sm-4">
                  <strong class="text-uppercase">Phone:</strong>
                </div>
                <div class="col-sm-8">+33 612739246</div>
              </div>
              <div class="row mt-3">
                <div class="col-sm-4">
                  <strong class="text-uppercase">Adresse:</strong>
                </div>
                <div class="col-sm-8">35700 , Rennes
                </div>
              </div>
              <div class="row mt-3">
                <div class="col-sm-4">
                  <strong class="text-uppercase">Langue:</strong>
                </div>
                <div class="col-sm-8">Anglais,Francais</div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>